@font-face {
	font-family: 'nk57_monospace-no';
	src: url('nk57-monospace-no-lt.ttf');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'nk57_monospace-no';
	src: url('nk57-monospace-no-lt-it.ttf');
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: 'nk57_monospace-no';
	src: url('nk57-monospace-no-bk.ttf');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'nk57_monospace-no';
	src: url('nk57-monospace-no-bk-it.ttf');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'nk57_monospace-no';
	src: url('nk57-monospace-no-rg.ttf');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'nk57_monospace-no';
	src: url('nk57-monospace-no-rg-it.ttf');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'nk57_monospace-no';
	src: url('nk57-monospace-no-bk.ttf');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'nk57_monospace-no';
	src: url('nk57-monospace-no-bk-it.ttf');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'nk57_monospace-no';
	src: url('nk57-monospace-no-bd.ttf');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'nk57_monospace-no';
	src: url('nk57-monospace-no-bd-it.ttf');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'nk57_monospace-no';
	src: url('nk57-monospace-no-eb.ttf');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'nk57_monospace-no';
	src: url('nk57-monospace-no-eb-it.ttf');
	font-weight: 800;
	font-style: italic;
}
