body {
    background: url("fond.png");
    font-family: verdana;
}
*#temps {
    font-family: monospace;
    font-size: 144px;
    font-weight: bold;
    text-align: center;
    color: white;
    border: 5px inset black;
    width: 800px;
    margin: 0px auto;
    -moz-border-radius: 60px;
    padding: 60px 0px;
    background-color: #666;
    & span.temps {
        padding: 10px 0px;
        color: black;
        -moz-border-radius: 15px;
        background-image: url(courbe.png);
        background-repeat: repeat-x;
        background-position: left center;
        border: 1px outset black;
    }
}
#heures {
    background-color: #fcc;
}
#minutes {
    background-color: #ccf;
}
#secondes {
    background-color: #cfc;
}
#duree {
    background-color: #FFEFCE;
    color: #665635;
    border: 1px solid;
    padding: 10px;
    margin: 20px auto;
    width: 600px;
    font-weight: bold;
}
#duree input[type=button] {
    width: 100px;
}
