body {
    font-family: verdana;
    background-color: black;
}
*#temps {
    font-family: monospace;
    font-size: 144px;
    font-weight: bold;
    text-align: center;
    color: white;
    border: 5px inset black;
    width: 800px;
    margin: 0px auto;
    border-radius: 60px;
    padding: 60px 0px;
    background-color: #666;
    & span.temps {
        padding: 10px 10px;
        color: white;
        border-radius: 15px;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8) inset;
        background-image: linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0) 50%,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0.5)
        );
        background-repeat: repeat-x;
        background-position: left center;
        border: 1px outset black;
    }
}
#heures {
    background-color: #600;
}
#minutes {
    background-color: #060;
}
#secondes {
    background-color: #006;
}
#duree {
    background-color: #666;
    color: #fff;
    zzzborder: 1px solid;
    padding: 10px;
    margin: 20px auto;
    width: 600px;
    font-weight: bold;
    & input[type=button] {
        width: 100px;
    }
    &:not(:hover) {
        opacity: .2;
    }
}
