html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
    font-family: verdana;
    background-color: black;
}
div.chrono {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	&:after {
		content: "";
	}
}
#temps {
    font-size: 15vw;
    font-family: impact, monospace;
//    font-weight: bold;
    text-align: center;
    color: white;
    border-radius: .2em;
    padding: .25em;
    background-color: #333;
	margin: 0 .2em;
	display: flex;
	justify-content: space-around;
	align-items: center;
//	height: 3em;
    & span.temps {
        padding: 0 .15em;
		display: flex;
		align-items: center;
		justify-content: center;
		color: rgba(255, 255, 255, 0.9);
        border-radius: .1em;
        box-shadow: .04em .07em .07em rgba(0, 0, 0, 0.5) inset,
			.01em .01em .01em rgba(255, 255, 255, 0.2),
			-.01em -.01em .01em rgba(0, 0, 0, 0.2);
        background-image: linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0) 50%,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0.5)
        ), radial-gradient(
			2em 1em at center .15em,
			rgba(255, 255, 255, 0.1) 50%,
			rgba(0, 0, 0, 0) 50%
		);
        background-repeat: repeat-x;
        background-position: left center;
//        border: .1rem solid black;
    }
}
form#duree {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	& input[type=button] {
        width: 7em;
    }
    &:not(:hover) {
//        opacity: .2;
    }
    &:not(:hover) > * {
//        display:none;
    }
	& fieldset {
		border: none;
		margin: 0;
		display: inline;
	}
	input[disabled] {
		display: none;
	}
	select {
		color: white;
		background-color: black;
	}
}
#heures, #selectheures {
    background-color: #600;
}
#minutes, #selectminutes {
    background-color: #060;
}
#secondes, #selectsecondes {
    background-color: #006;
}
