@font-face {
	src:url("digital-7.ttf");
	font-family:digital_7;
}
@font-face {
	src:url("digital-7 (italic).ttf");
	font-family:digital_7;
	font-style:italic;
}
@font-face {
	src:url("digital-7 (mono).ttf");
	font-family:digital_7_mono;
}
@font-face {
	src:url("digital-7 (mono italic).ttf");
	font-family:digital_7_mono;
	font-style:italic;
}
